/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v1-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/inter-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/inter-v1-latin-regular.woff2") format("woff2"), url("/fonts/inter-v1-latin-regular.woff") format("woff"), url("/fonts/inter-v1-latin-regular.ttf") format("truetype"), url("/fonts/inter-v1-latin-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v1-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/inter-v1-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/inter-v1-latin-700.woff2") format("woff2"), url("./fonts/inter-v1-latin-700.woff") format("woff"), url("./fonts/inter-v1-latin-700.ttf") format("truetype"), url("./fonts/inter-v1-latin-700.svg#Inter") format("svg");
  /* Legacy iOS */
}
.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status::before {
  content: "";
  width: 8px;
  height: 4px;
  margin-right: 0.2rem;
}

.up-green {
  color: #1db489;
}

.up-green::before {
  background: url("./images/icon-up.svg") no-repeat;
}

.down-red {
  color: #dc414c;
}

.down-red::before {
  background: url("./images/icon-down.svg") no-repeat;
}

.f2 {
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  padding: 2rem 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body.dark-theme {
  background-color: #1e202a;
}

header {
  font-weight: bold;
}
header .f4 {
  padding-bottom: 1rem;
  line-height: 25px;
  border-bottom: 1px solid #63687e;
  margin-bottom: 1.2rem;
}

.header-background {
  height: 14rem;
  background: #f5f7ff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 0 0 15px 15px;
}

.dark-theme .attribution {
  color: white;
}
.dark-theme .attribution a {
  color: #1ca0f2;
}
.dark-theme .header-background {
  background: #1f212e;
}
.dark-theme .f2, .dark-theme h1, .dark-theme h2 {
  color: white !important;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header .f4 {
    border-bottom: none;
  }

  .header-background {
    border-radius: 0;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.grayed-text {
  color: #63687e;
}

.dark-text {
  color: #1e202a;
}

/* custom slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aeb3cb;
  border-radius: 34px;
}

.dark-theme .slider,
.slider:hover {
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #f5f7ff;
  border-radius: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px #aeb3cb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translate(24px);
}

#theme {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
